html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  display: inline-block;
}

img {
  width: 40px;
  color: #a63f38;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav li:hover {
  background-color: #a63f38;
}

nav li {
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
  border: 1px solid #a63f38;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
