html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #d05c2e;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

img {
  width: 40px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  font-size: 1.125rem;
  color: #fff;
}
